body {
    margin: 0;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(22,2,102,1) 100%);
    color: #000;
  }

.main {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
