body {
    margin: 0;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(22,2,102,1) 100%);
    color: #FFF;
    min-height: 100vh;
  }

.main {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5%;
}

.about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.skills {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  border: solid 2px #000;
  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(1px);
  width: 90vw;
  height: fit-content;
  padding: 5%;
}

#hero {
  padding: 1%;
  flex: 45%
}

#bg1 {
  flex: 45%;
  box-shadow: 2px 2px 2px #000;
  border: solid 2px #000;
}


h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(rgb(149,66,133), rgba(22,2,102,1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#name {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
